In [1]:
import psycopg2
import sys, os
import numpy as np
import pandas as pd
import database_access as creds
import pandas.io.sql as psql
%matplotlib inline

In [2]:
def load_data(schema, table):

    sql_command = f'SELECT * FROM {str(schema)}.{str(table)};'
    print (sql_command)

    # Load the data
    data = pd.read_sql(sql_command, conn)

    print(data.shape)
    return (data)

## Caricamento dei dati

In [3]:
# Set up a connection to the postgres server.
conn_string = "host="+ creds.PGHOST +" port="+ creds.PGPORT +" dbname="+ creds.PGDATABASE +" user=" + creds.PGUSER \
+" password="+ creds.PGPASSWORD
conn=psycopg2.connect(conn_string)
print("Connected!")

# Create a cursor object
cursor = conn.cursor()

Connected!

In [4]:
regressors = load_data('ccpp','regressors')
target = load_data('ccpp','target')

SELECT * FROM ccpp.regressors;
(9565, 5)
SELECT * FROM ccpp.target;
(9565, 2)

## Analisi preliminare

In [5]:
regressors

        id     at      v       ap     rh
0        0   8.34  40.77  1010.84  90.01
1        1  23.64  58.49  1011.40  74.20
2        2  29.74  56.90  1007.15  41.91
3        3  19.07  49.69  1007.22  76.79
4        4  11.80  40.66  1017.13  97.20
5        5  13.97  39.16  1016.05  84.60
6        6  22.10  71.29  1008.20  75.38
7        7  14.47  41.76  1021.98  78.41
8        8  31.25  69.51  1010.25  36.83
9        9   6.77  38.18  1017.80  81.13
10      10  28.28  68.67  1006.36  69.90
11      11  22.99  46.93  1014.15  49.42
12      12  29.30  70.04  1010.95  61.23
13      13   8.14  37.49  1009.04  80.33
14      14  16.92  44.60  1017.34  58.75
15      15  22.72  64.15  1021.14  60.34
16      16  18.14  43.56  1012.83  47.10
17      17  11.49  44.63  1020.44  86.04
18      18   9.94  40.46  1018.90  68.51
19      19  23.54  41.10  1002.05  38.05
20      20  14.90  52.05  1015.11  77.33
21      21  33.80  64.96  1004.88  49.37
22      22  25.37  68.31  1011.12  70.99
23      23   7.29  41.04  1024.06  89.19
24      24  13.55  40.71  1019.13  75.44
25      25   6.39  35.57  1025.53  77.23
26      26  26.64  62.44  1011.81  72.46
27      27   7.84  41.39  1018.21  91.92
28      28  21.82  58.66  1011.71  64.37
29      29  27.17  67.45  1015.67  49.03
...    ...    ...    ...      ...    ...
9535  9538   7.11  43.13  1018.96  87.82
9536  9539  21.54  58.12  1015.33  78.67
9537  9540  29.45  64.96  1005.52  59.92
9538  9541  31.85  68.30  1014.76  47.06
9539  9542  27.30  65.12  1016.24  44.87
9540  9543  13.51  39.31  1012.18  75.19
9541  9544  16.73  39.64  1008.94  74.91
9542  9545  25.45  69.59  1008.51  83.17
9543  9546  12.88  44.34  1016.03  88.51
9544  9547  22.29  43.79  1015.68  41.75
9545  9548  12.07  40.81  1025.63  68.02
9546  9549  18.21  62.26  1011.97  87.28
9547  9550  17.53  42.24  1016.90  60.95
9548  9551  23.66  61.86  1013.33  83.09
9549  9552  14.18  40.69  1014.73  74.88
9550  9553  13.85  41.39  1018.62  75.55
9551  9554  10.06  37.83  1005.49  99.46
9552  9555  26.89  70.32  1012.39  87.17
9553  9556   7.72  41.14  1025.11  96.75
9554  9557  27.06  43.77  1011.02  42.61
9555  9558  20.18  43.56  1013.14  39.16
9556  9559  18.51  50.90  1012.95  82.71
9557  9560  13.60  39.82  1013.34  86.10
9558  9561  33.42  68.51  1011.91  45.83
9559  9562  13.79  42.07  1018.27  88.06
9560  9563  15.12  48.92  1011.80  72.93
9561  9564  33.41  77.95  1010.30  59.72
9562  9565  15.99  43.34  1014.20  78.66
9563  9566  17.65  59.87  1018.58  94.65
9564  9567  23.68  51.30  1011.86  71.24

[9565 rows x 5 columns]

si osserva che il campo id e l'index del dataframe ad un certo punto hanno valori differenti, in particolare il valore di index finale è minore del valore id finale di 3 valori, quindi è ragionevole suporre che mancano 3 righe di dati

In [12]:
index_reg = set(regressors.index)
id_reg = set(regressors.id)
index_reg-id_reg

{100, 101, 102}

Mancano le 3 righe corrispondenti agli id 100,101,102.

Verifichiamo che sia lo stesso per il dataframe target

In [13]:
target

        id      pe
0        0  480.48
1        1     NaN
2        2  438.76
3        3  453.09
4        4  464.43
5        5  470.96
6        6  442.35
7        7  464.00
8        8  428.77
9        9  484.31
10      10  435.29
11      11  451.41
12      12  426.25
13      13  480.66
14      14  460.17
15      15  453.13
16      16  461.71
17      17  471.08
18      18  473.74
19      19  448.56
20      20  464.82
21      21  427.28
22      22  441.76
23      23  474.71
24      24  467.21
25      25  487.69
26      26  438.67
27      27  485.66
28      28  452.16
29      29  429.87
...    ...     ...
9535  9538  486.11
9536  9539  454.32
9537  9540  433.04
9538  9541  428.72
9539  9542  442.78
9540  9543  466.46
9541  9544  464.46
9542  9545  445.61
9543  9546  474.94
9544  9547  461.23
9545  9548  475.96
9546  9549  455.88
9547  9550  470.63
9548  9551  444.27
9549  9552  471.52
9550  9553  471.45
9551  9554  473.51
9552  9555  435.56
9553  9556  478.34
9554  9557  442.15
9555  9558  462.80
9556  9559  459.11
9557  9560  470.69
9558  9561  427.66
9559  9562  462.25
9560  9563  462.59
9561  9564  432.90
9562  9565  465.96
9563  9566  450.93
9564  9567  451.67

[9565 rows x 2 columns]

In [15]:
index_tar = set(target.index)
id_tar = set(target.id)
index_tar-id_tar

{200, 201, 202}

Nel caso del dataframe target mancano invece le righe corrispondenti agli id 200,201,202

Se decido di fare il merge dei due dataframe utilizzando come key il campo id ho due scelte, o mantengo o droppo

In [20]:
target.iloc[100:103]

      id      pe
100  100  458.68
101  101  436.76
102  102  446.08

In [21]:
regressors.iloc[200:203]

      id     at      v       ap     rh
200  203  31.37  76.86   997.34  62.94
201  204  14.17  41.67  1013.40  72.77
202  205  15.60  43.71  1024.88  80.37

In [23]:
6/len(target)*100

0.06272869837950862

Dal momento che si tratta dello 0.063% dei dati decido di non tenerli

In [24]:
data = pd.merge(regressors, target, on='id').drop('id',axis=1)
data

         at      v       ap     rh      pe
0      8.34  40.77  1010.84  90.01  480.48
1     23.64  58.49  1011.40  74.20     NaN
2     29.74  56.90  1007.15  41.91  438.76
3     19.07  49.69  1007.22  76.79  453.09
4     11.80  40.66  1017.13  97.20  464.43
5     13.97  39.16  1016.05  84.60  470.96
6     22.10  71.29  1008.20  75.38  442.35
7     14.47  41.76  1021.98  78.41  464.00
8     31.25  69.51  1010.25  36.83  428.77
9      6.77  38.18  1017.80  81.13  484.31
10    28.28  68.67  1006.36  69.90  435.29
11    22.99  46.93  1014.15  49.42  451.41
12    29.30  70.04  1010.95  61.23  426.25
13     8.14  37.49  1009.04  80.33  480.66
14    16.92  44.60  1017.34  58.75  460.17
15    22.72  64.15  1021.14  60.34  453.13
16    18.14  43.56  1012.83  47.10  461.71
17    11.49  44.63  1020.44  86.04  471.08
18     9.94  40.46  1018.90  68.51  473.74
19    23.54  41.10  1002.05  38.05  448.56
20    14.90  52.05  1015.11  77.33  464.82
21    33.80  64.96  1004.88  49.37  427.28
22    25.37  68.31  1011.12  70.99  441.76
23     7.29  41.04  1024.06  89.19  474.71
24    13.55  40.71  1019.13  75.44  467.21
25     6.39  35.57  1025.53  77.23  487.69
26    26.64  62.44  1011.81  72.46  438.67
27     7.84  41.39  1018.21  91.92  485.66
28    21.82  58.66  1011.71  64.37  452.16
29    27.17  67.45  1015.67  49.03  429.87
...     ...    ...      ...    ...     ...
9532   7.11  43.13  1018.96  87.82  486.11
9533  21.54  58.12  1015.33  78.67  454.32
9534  29.45  64.96  1005.52  59.92  433.04
9535  31.85  68.30  1014.76  47.06  428.72
9536  27.30  65.12  1016.24  44.87  442.78
9537  13.51  39.31  1012.18  75.19  466.46
9538  16.73  39.64  1008.94  74.91  464.46
9539  25.45  69.59  1008.51  83.17  445.61
9540  12.88  44.34  1016.03  88.51  474.94
9541  22.29  43.79  1015.68  41.75  461.23
9542  12.07  40.81  1025.63  68.02  475.96
9543  18.21  62.26  1011.97  87.28  455.88
9544  17.53  42.24  1016.90  60.95  470.63
9545  23.66  61.86  1013.33  83.09  444.27
9546  14.18  40.69  1014.73  74.88  471.52
9547  13.85  41.39  1018.62  75.55  471.45
9548  10.06  37.83  1005.49  99.46  473.51
9549  26.89  70.32  1012.39  87.17  435.56
9550   7.72  41.14  1025.11  96.75  478.34
9551  27.06  43.77  1011.02  42.61  442.15
9552  20.18  43.56  1013.14  39.16  462.80
9553  18.51  50.90  1012.95  82.71  459.11
9554  13.60  39.82  1013.34  86.10  470.69
9555  33.42  68.51  1011.91  45.83  427.66
9556  13.79  42.07  1018.27  88.06  462.25
9557  15.12  48.92  1011.80  72.93  462.59
9558  33.41  77.95  1010.30  59.72  432.90
9559  15.99  43.34  1014.20  78.66  465.96
9560  17.65  59.87  1018.58  94.65  450.93
9561  23.68  51.30  1011.86  71.24  451.67

[9562 rows x 5 columns]

In [26]:
directory='data'

if not os.path.exists(directory):
    os.makedirs(directory)

data.to_csv('data/data_raw.csv')